/**
 * Copyright © 2017 MageKey. All rights reserved.
 */

body{
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  line-height: 1.4;
  color: #333;
  padding-top: 70px;
}

body .container{
  margin-bottom:
}

/* Header */
.navbar-nav{
  margin-top: 6px;
}
.navbar-default {
  background-color: #f1f1f1;
  border: none;
}
.navbar-default .navbar-nav>li>a{
  color: #333;
  font-weight: 600;
  border: 1px solid transparent;
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar-default .navbar-nav>li>a:hover{
  background: #fff;
  border-color: #ccc;
}
.navbar-brand{
  padding: 10px 15px;
}
.navbar-brand>img{
  height: 100%;
  max-width: 100px;
  display: inline;
  margin-right: 1rem;
}
.navbar-brand>span{
  font-size: 1.5rem;
  font-family: fantasy;
  color: #ca500d;
}
.navbar-brand>span.github{
  color: #5e5e5e;
}
.navbar-default .navbar-nav.navbar-right>li>a{
  border: none;
  color: #ca500d;
  font-size: 1rem;
}
.navbar-default .navbar-nav.navbar-right>li>a:hover{
  background: none;
  border: none;
}

/* Card */
.card{
  margin-top: 50px;
  padding: 3em;
  line-height: 1.5em;
}
.card .thumbnails a{
  display: inline-block;
  width: 21%;
  height: 100px;
  overflow: hidden;
  margin: 0 1.5% 1.5% 0;
  padding: 5px;
  border: 1px solid #b8b8b8;
  text-align: center;
}
.card .thumbnails a:hover{
  border: 1px solid #ca500d;
}
.card .thumbnails a img{
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.card .thumbnails .thumbnail-item.first-item {
  display: block;
  clear: both;
  width: auto;
  border: none;
  height: 230px;
  margin-right: 0;
}
.lg-backdrop{
  background: #fff;
}
.lg-backdrop.in{
  opacity: 0.8;
}
#lg-counter{
  color: #ffffff;
}
.lg-toolbar .lg-icon{
  color: #ffffff;
}
.lg-actions .lg-next, .lg-actions .lg-prev{
  color: #ffffff;
}

/* Tabs */
code{
  padding: 1rem;
  border-radius: 5px;
  clear: both;
  border: 2px solid #c7254e;
  color: #000;
}
.tab-content{
  padding: 1rem;
}
.description li{
  padding: 1rem;
}
.description code{
  padding: 1rem;
}
