/**
 * Copyright © 2017 MageKey. All rights reserved.
 */

body{
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  line-height: 1.4;
  color: #333;
  padding-top: 70px;
}

body > .container{
  margin-bottom: 40px;
}
p{
  font-size: 16px;
  line-height: 25px;
  color: #31302B;
  margin: 0 0 1.5em;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}
h1{
  font-weight: normal;
}
h2{
  font-size: 24px;
  line-height: 30px;
}
h3{
  font-size: 16px;
  line-height: 20px;
}
img{
  max-width: 100%;
}

/* Header */
.navbar-nav{
  margin-top: 6px;
}
.navbar-default {
  background-color: #f1f1f1;
  border: none;
}
.navbar-default .navbar-nav>li>a{
  color: #333;
  font-weight: 600;
  border: 1px solid transparent;
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar-default .navbar-nav>li>a:hover{
  background: #fff;
  border-color: #ccc;
}
.navbar-brand{
  padding: 10px 15px;
}
.navbar-brand>img{
  height: 100%;
  max-width: 100px;
  display: inline;
  margin-right: 1rem;
}
.navbar-brand>span{
  font-size: 1.5rem;
  font-family: fantasy;
  color: #ca500d;
}
.navbar-brand>span.github{
  color: #5e5e5e;
}
.navbar-default .navbar-nav.navbar-right>li>a{
  border: none;
  color: #ca500d;
  font-size: 1rem;
}
.navbar-default .navbar-nav.navbar-right>li>a:hover{
  background: none;
  border: none;
}

/* Footer */
.navbar-fixed-bottom.navbar{
  min-height: auto;
}
.navbar-fixed-bottom .navbar-nav{
  margin-top: 0;
}
.navbar-fixed-bottom .navbar-nav>li{
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1rem;
}

/* Component */
.component .title{
  font-weight: bold;
}

/* Card */
.card{
  margin-top: 50px;
  padding: 3em;
  line-height: 1.5em;
}
.card .thumbnails a{
  display: inline-block;
  width: 21%;
  height: 100px;
  overflow: hidden;
  margin: 0 1.5% 1.5% 0;
  padding: 5px;
  border: 1px solid #b8b8b8;
  text-align: center;
}
.card .thumbnails a:hover{
  border: 1px solid #ca500d;
}
.card .thumbnails a img{
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.card .thumbnails .thumbnail-item.first-item {
  display: block;
  clear: both;
  width: auto;
  border: none;
  height: 230px;
  margin-right: 0;
}
.lg-backdrop{
  background: #fff;
}
.lg-backdrop.in{
  opacity: 0.8;
}
#lg-counter{
  color: #ffffff;
}
.lg-toolbar .lg-icon{
  color: #ffffff;
}
.lg-actions .lg-next, .lg-actions .lg-prev{
  color: #ffffff;
}

/* Tabs */
.nav-tabs>li>a{
  font-size: 16px;
  font-weight: 600;
  color: #31302b;
  border-top: 3px solid transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #EF672F;
  border-left: 1px solid #E4E3E1;
  border-right: 1px solid #E4E3E1;
  border-top: 3px solid #EF672F;
}
code{
  padding: 1rem;
  border-radius: 5px;
  clear: both;
  border: 2px solid #c7254e;
  color: #000;
}
.tab-content{
  padding: 1rem;
}
.short-desc{
  height: 80px;
  overflow: hidden;
}
.description li{
  padding: 1rem;
}
.description code{
  padding: 1rem;
}
.details ul {
  margin-bottom: 10px;
}
.details li {
  margin-bottom: 5px;
  margin-top: 5px;
}
.toc-block{
  margin-bottom: 50px;
  display: none;
}
.toc-block ul{
  margin: 0;
}
.toc-block li{
  margin: 0;
}
.toc{
  list-style: none;
  margin-bottom: 20px;
}
.toc li{
  background: url(../img/dot.gif) repeat-x bottom left !important;
  overflow: hidden;
  padding-bottom: 2px;
}
.toc a{
  display: inline-block;
  background: #fff;
  position: relative;
  bottom: -4px;
}
.toc a.toc-left{
  float: left;
  padding: 0 2px 3px 0;
}
.toc a.toc-right{
  float: right;
  padding: 0 0 3px 2px;
}
